.slotholder {
  -webkit-filter: brightness(0.8) contrast(1) !important;
          filter: brightness(0.8) contrast(1) !important;
}

.tp-caption img {
  max-width: 700px !important;
  height: auto !important;
}

.mega-menu.menu-links > li > a:hover {
  color: #fff;
  opacity: .6;
}

.mega-menu .drop-down-multilevel li > a {
  font-size: 1rem;
}

.mega-menu .drop-down-multilevel li:hover {
  background: #fa650f;
}

.mega-menu .drop-down-multilevel li:hover > a {
  color: #fff;
}

.mega-menu .menu-list-items {
  background-color: #b62269 !important;
}

.mega-menu .menu-list-items > .container::after {
  content: '';
  max-width: 32rem;
  display: block;
  left: 0;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
  -webkit-mask: url(../images/paint.svg) no-repeat 50% 50%;
  mask: url(../images/paint.svg) no-repeat 50% 50%;
  aspect-ratio: 5/2;
  background: #b62269;
}

.mega-menu.desktopTopFixed .menu-list-items {
  display: none;
}

.mega-menu.desktopTopFixed .menu-list-items > .container::after {
  display: none;
}

*::-moz-selection {
  background: #8c1b5940;
}

*::selection {
  background: #8c1b5940;
}

select.form-control:not([size]):not([multiple]) {
  height: unset;
}

.blog-overlay::before {
  opacity: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.blog-overlay h4 a {
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.blog-overlay:hover h4 a {
  color: #8c1b59;
}

.blog-overlay:hover::before {
  opacity: .3;
}

.owl-stage-outer .owl-item img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.owl-stage-outer .owl-item:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.button.white:hover {
  background: #fa650f;
}

.feature-text.theme-icon:hover .feature-icon span, .feature-text.theme-icon:hover .feature-icon i {
  background: #fa650f;
  border: 2px solid #fff;
}

.footer.black-bg {
  background: #8B933B;
  position: relative;
}

iframe.map_colorys {
  bottom: -20px;
  border-top: 5px solid #8c1b59;
}

.blog-box.blog-2 .button.icon-color {
  margin-bottom: 1rem;
}

.blog-box.blog-2 .post-category a {
  letter-spacing: 0;
}

.blog-box.blog-2 img {
  width: 100%;
  -webkit-filter: sepia(1);
          filter: sepia(1);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.blog-box.blog-2:hover .post-category a {
  letter-spacing: 2px;
}

.blog-box.blog-2:hover img {
  -webkit-filter: sepia(0);
          filter: sepia(0);
}

.button.icon-color:hover i {
  background: #8c1b59;
}

.footer-widget {
  border-top: 1px solid #ffffff45;
}

.footer.footer-one-page p,
.footer.footer-one-page h5,
.footer.black-bg .social-icons li a {
  color: #fff;
}

#back-to-top .top {
  background: #fa650f;
}

.hermes.tparrows,
.hermes .tp-arr-titleholder {
  background: #e6007fa8;
}

.colored_bg {
  position: relative;
  overflow: hidden;
}

.colored_bg::after {
  content: url(../images/colorys_bcg.svg);
  position: absolute;
  height: 100%;
  right: 0;
  z-index: 1;
  aspect-ratio: 3/2;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: .4;
}

.colored_bg > .container {
  position: relative;
  z-index: 2;
}
/*# sourceMappingURL=style.css.map */