$white: #fff;
$purple: #8c1b59;
$dark_purple: #62133e;
$pink: #e6007e;
$orange: #fa650f;
$yellow: #f9be39;

.slotholder {
    filter: brightness(.8) contrast(1) !important;
}

.tp-caption {
    img {
        max-width: 700px !important;
        height: auto !important;
    }
}

.mega-menu {
    &.menu-links {
        > li {
            > a {
                &:hover {
                    color: $white;
                    opacity: .6;
                }
            }
        }
    }
    .drop-down-multilevel {
        li {
            > a {
                font-size: 1rem;
            }
            &:hover {
                background: $orange;
                > a {
                    color: $white;
                }
            }
        }
    }
    .menu-list-items {
        background-color: $pink !important;
        > .container {
            &::after {
                // content: url(../images/paint.svg);
                content: '';
                max-width: 32rem;
                display: block;
                left: 0;
                transform: translateX(-25%);
                // fill: red;
                
                -webkit-mask: url(../images/paint.svg) no-repeat 50% 50%;
                mask: url(../images/paint.svg) no-repeat 50% 50%;
                // -webkit-mask-size: cover;
                // mask-size: cover;
                aspect-ratio: 5/2;
                background: $pink;
            }
        }
    }
    &.desktopTopFixed {
        .menu-list-items {
            // background: $purple;
            display: none;
            // box-shadow: 0px 0px 20px #380e25;
            > .container {
                &::after {
                    // background: #8c1b59;
                    display: none;
                }
            }
        }
    }
}

*::selection {
    background: #8c1b5940;
}

select.form-control:not([size]):not([multiple]) {
    height: unset;
}

.blog-overlay {
    &::before {
        opacity: 1;
        transition: all .5s;
    }
    h4 {
        a {
            color: $white;
            transition: all .5s;
        }
    }
    &:hover {
        h4 {
            a {
                color: $purple
            }
        }
        &::before {
            opacity: .3;
        }
    }
}

.owl-stage-outer {
    .owl-item {
        img {
            filter: grayscale(1);
            transition: all .3s;
        }
        &:hover {
            img {
                filter: grayscale(0);
            }
        }
    }
}

.button {
    &.white {
        &:hover {
            background: $orange;
        }
    }
}

.feature-text.theme-icon:hover .feature-icon span, .feature-text.theme-icon:hover .feature-icon i {
    background: $orange;
    border: 2px solid #fff;
}

.footer.black-bg {
    background: $purple;
    position: relative;
}

iframe.map_colorys {
    bottom: -20px;
    border-top: 5px solid $purple;
}

.blog-box.blog-2 {
    .button.icon-color {
        margin-bottom: 1rem;
    }
    .post-category {
        a {
            letter-spacing: 0;
        }
    }
    img {
        filter: sepia(1);
        transition: all .3s;
    }
    &:hover {
        .post-category {
            a {
                letter-spacing: 2px;
            }
        }
        img {
            filter: sepia(0);
        }
    }
}

.button.icon-color:hover i {
    background: $purple;
}

.footer-widget {
    border-top: 1px solid #ffffff45;
}

.footer.footer-one-page p,
.footer.footer-one-page h5,
.footer.black-bg .social-icons li a {
    color: $white;
}

#back-to-top .top {
    background: $orange;
}

.hermes.tparrows,
.hermes .tp-arr-titleholder {
    background: #e6007fa8;
}