html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map__container {
  height: 100%;
  width: 100%;
}

.map__container .map_title {
  position: fixed;
  /*background-color: #8C1B59;*/
  padding: 15px;
  font-size: 1em;
  z-index: 1005;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fefcf3;
  font-family: monospace;
  text-transform: uppercase;
}

.map__container #map {
  height: 100%;
}

.bindpoptitle {
  margin: 0;
}

.leaflet-popup {
  bottom: 0 !important;
}

.leaflet-marker-icon.marker-cluster.marker-cluster-small.leaflet-zoom-animated.leaflet-interactive {
  margin-top: -30px !important;
}

.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive {
  margin-top: -60px !important;
  -webkit-filter: drop-shadow(#041e19 4px -3px 4px);
          filter: drop-shadow(#041e19 4px -3px 4px);
}

.marker-cluster-medium {
  background-color: #fefcf37a;
}

.marker-cluster-medium div {
  background-color: #041e19;
}

.marker-cluster-medium div span {
  color: #fefcf3;
}

.marker-cluster-small {
  background-color: #fefcf37a;
}

.marker-cluster-small div {
  background-color: #8C1B59;
}

.marker-cluster-small div span {
  color: #fefcf3;
}

.leaflet-container {
  background-color: #8C1B59;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: rgb(140 27 89 / 80%);
    color: #ffffff;
}

.leaflet-popup-content {
    width: 140px !important;
}